/* ----------------  */
/* Custom Properties */
/* ----------------  */

:root {
	--clr-purple-500: 256 67% 59%;
	--clr-purple-100: 254 88% 90%;

	--clr-yellow-500: 39 100% 71%;
	--clr-yellow-100: 31 66% 93%;

	--clr-neutral-900: 0 0% 7%;
	--clr-neutral-200: 300 5% 96%;
	--clr-neutral-100: 0 0% 100%;

	--fs-900: clamp(2.875rem, 2.675rem + 1vw, 3.875rem);
	--fs-800: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
	--fs-700: clamp(1.625rem, 1.55rem + 0.375vw, 2rem);
	--fs-600: 2rem;
	--fs-500: 1rem;
	--fs-400: 1.125rem;
	--fs-300: 1rem;
	--fs-200: 0.875rem;

	--ff-sans-normal: 'DM Sans', sans-serif;

	--spacing-500: 2.5rem;
	--spacing-400: 2rem;
	--spacing-300: 1.5rem;
	--spacing-200: 1rem;
	--spacing-100: 0.5rem;

	--padding-500: 2.5rem;
	--padding-400: 2rem;
	--padding-300: 1.5rem;
	--padding-200: 1rem;
	--padding-100: 0.5rem;
}

/* ----------------  */
/* Reset             */
/* ----------------  */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
}

body {
	font-family: var(--ff-sans-normal);
	font-size: var(--fs-400);
	background-color: hsl(var(--clr-neutral-200));
	color: hsl(var(--clr-white));
	line-height: 1.5;
	min-height: 100vh;
	padding-block: 1.5rem;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
}

img,
picture {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* -----------------  */
/* Utility Classes    */
/* -----------------  */

/* General */

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.d-block {
	display: block;
}

.flow > *:where(:not(:first-child)) {
	margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
	--flow-space: 0.75rem;
}

.wrapper {
	padding-inline: 1em;
	margin-inline: auto;
	max-width: 70rem;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.padding-500 {
	--padding: var(--padding-500);
}

.padding-400 {
	--padding: var(--padding-400);
}

.padding-300 {
	--padding: var(--padding-300);
}

.padding-200 {
	--padding: var(--padding-200);
}

.padding-100 {
	--padding: var(--padding-100);
}

.spacing-500 {
	--spacing: var(--spacing-500);
}

.spacing-400 {
	--spacing: var(--spacing-400);
}

.spacing-300 {
	--spacing: var(--spacing-300);
}

.spacing-200 {
	--spacing: var(--spacing-200);
}

.spacing-100 {
	--spacing: var(--spacing-100);
}

/* Colors */

.bg-purple-100 {
	--bg-color: var(--clr-purple-100);
}
.bg-purple-500 {
	--bg-color: var(--clr-purple-500);
}
.bg-yellow-100 {
	--bg-color: var(--clr-yellow-100);
}
.bg-yellow-500 {
	--bg-color: var(--clr-yellow-500);
}
.bg-neutral-100 {
	--bg-color: var(--clr-neutral-100);
}
.bg-neutral-900 {
	--bg-color: var(--clr-neutral-900);
}

.bg-purple-100,
.bg-yellow-100,
.bg-yellow-500,
.bg-neutral-100 {
	--text-color: var(--clr-neutral-900);
}
.bg-purple-500,
.bg-neutral-900 {
	--text-color: var(--clr-neutral-100);
}

.text-neutral-100 {
	color: hsl(var(--clr-neutral-100));
}

.text-purple-500 {
	color: hsl(var(--clr-purple-500));
}

.text-purple-100 {
	color: hsl(var(--clr-purple-100));
}

.text-yellow-500 {
	color: hsl(var(--clr-yellow-500));
}

.text-yellow-100 {
	color: hsl(var(--clr-yellow-100));
}

.text-neutral-900 {
	color: hsl(var(--clr-neutral-900));
}

.text-neutral-100 {
	color: hsl(var(--clr-neutral-100));
}

/* Typography */

h1 {
	text-align: center;
	font-size: var(--fs-900);
}

.letter-spacing-1 {
	letter-spacing: 0px;
}
.letter-spacing-2 {
	letter-spacing: -2px;
}
.letter-spacing-3 {
	letter-spacing: -3px;
}

.uppercase {
	text-transform: uppercase;
}

.fs-900 {
	font-size: var(--fs-900);
}
.fs-800 {
	font-size: var(--fs-800);
}
.fs-700 {
	font-size: var(--fs-700);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-400 {
	font-size: var(--fs-400);
	line-height: 1.11;
}
.fs-300 {
	font-size: var(--fs-300);
}
.fs-200 {
	font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
	line-height: 0.935;
}

.italic {
	font-style: italic;
}

.text-preset-1 {
	font-size: var(--fs-900);
	line-height: 0.935;
	letter-spacing: -3px;
}

.text-preset-2 {
	font-size: var(--fs-800);
	line-height: 0.9;
	letter-spacing: -2px;
}

.text-preset-3 {
	font-size: var(--fs-700);
	line-height: 0.875;
	letter-spacing: -2px;
}

.text-preset-4 {
	font-size: var(--fs-400);
	line-height: 1.1;
	letter-spacing: 0px;
}

/* ----------------  */
/* Components        */
/* ----------------  */

.bento-grid {
	display: grid;
	gap: 2rem;
	margin-block: 2rem;
	grid-template-areas:
		'area1'
		'area2'
		'area3'
		'area4'
		'area5'
		'area6'
		'area7'
		'area8';

	@media (min-width: 35em) {
		grid-template-areas:
			'area1 area1'
			'area2 area3'
			'area4 area4'
			'area5 area5'
			'area6 area6'
			'area7 area8';
	}

	@media (min-width: 55em) {
		grid-template-areas:
			'area7 area1 area1 area4'
			'area7 area1 area1 area4'
			'area7 area2 area3 area4'
			'area8 area2 area3 area4'
			'area8 area6 area5 area5'
			'area8 area6 area5 area5';
	}
}

.bento-grid__cell {
	border-radius: 10px;
	padding: var(--padding, var(--padding-200));
	background-color: hsl(var(--bg-color, var(--clr-purple-100)));
	color: hsl(var(--text-color, var(--clr-neutral-900)));
	overflow: hidden;
}

.grid-area-1 {
	grid-area: area1;
	display: grid;
	place-items: center;
	gap: var(--spacing-200);
	text-align: center;

	& p:first-of-type {
		margin-inline: auto;
		max-width: 12ch;
	}

	> img {
		width: 12rem;
	}
}

.grid-area-2 {
	grid-area: area2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--spacing-200);

	& > img {
		width: 100%;
		min-height: 4.125rem;
		object-fit: cover;
		object-position: left center;
	}
}

.grid-area-3 {
	grid-area: area3;
	padding-bottom: 0;

	& > img {
		margin-top: var(--spacing-200);
		width: 13rem;
		max-height: 6.5rem;
		object-position: top;

		@media (min-width: 35em) and (max-width: 45em) {
			max-height: 100%;
		}

		@media (max-width: 34em) {
			max-height: 8.5rem;
		}
	}
}

.grid-area-4 {
	grid-area: area4;
	text-align: center;
	gap: var(--spacing-300);
	--padding: var(--padding-400);

	@media (min-width: 50em) {
		text-align: left;
	}

	& p:nth-of-type(2) {
		max-width: 30ch;
		margin-inline: auto;
	}

	& > img {
		max-width: 22rem;
		margin: var(--padding-300) auto;

		@media (min-width: 45em) {
			object-position: right center;
		}
	}
}

.grid-area-5 {
	grid-area: area5;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
	gap: var(--spacing-500);
	text-align: center;
	--padding: var(--padding-300);

	> img {
		height: 12.5rem;
	}

	p {
		max-width: 10ch;
	}

	@media (min-width: 35em) {
		text-align: left;
		flex-direction: row;
	}

	@media (min-width: 45em) {
		gap: var(--spacing-100);
	}
}

.grid-area-6 {
	grid-area: area6;
}
.grid-area-7 {
	grid-area: area7;
}
.grid-area-8 {
	grid-area: area8;
}

/* ----------------  */
/* Page Specific     */
/* ----------------  */

/* ----------------  */
/* Layout            */
/* ----------------  */

/* Footer */
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
